<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/google-chart/google-chart.html">

<dom-module id="about-content">
    <style>
        .self-image {
            width: 454px;
            height: auto;
            float: right;
            border-radius: 2px;
            margin-right: 20px;
            margin-left: 45px;
        }
        .short-separator {
            width: 700px;
            float: left;
            height: 4px;
            border-radius: 10px;
            border: 0;
            background-color: #44E4EA;
            margin-bottom: 20px;
            position: absolute;
        }
        .long-separator {
            /*width: 97.5%;*/
            width: 1175px;
            float: left;
            height: 4px;
            border-radius: 10px;
            border: 0;
            background-color: #44E4EA;
            margin-bottom: 20px;
            position: absolute;
        }
        .description {
            text-align: justify;
            line-height: 120%;
            font-size: 18px;
        }
        .language-logo {
            height: 80px;
            width: auto;
            margin: auto;
        }
    </style>
    <template>
        <div id="introduction-block">
            <!--<img src="resources/knight-solaire.jpg" class="self-image">-->
            <img src="resources/pic.jpg" class="self-image">
            <h1>Hello, I'm <span style="color: #44E4EA">Chris Gatto</span>.</h1>
            <h3>Professional Software Engineer, Self-Motivated Team Member</h3>
            <h3>My Resume can be found <a href="resources/ChristopherGatto_CV.pdf" target="_blank" id="goToResume" style="color: #67BDC1">here</a>.</h3>
            <h1 style="margin-top: 50px; color: #67BDC1">A little about me...</h1>
            <p class="description">
                &nbsp;&nbsp;&nbsp;&nbsp;
                I am a senior engineering student in the Lane Department of Computer Science and Electrical Engineering
                at West Virginia University. In May 2016, I will receive a Bachelor of Science degree with a dual major
                in both Computer Science, and Computer Engineering. I also serve as a Junior Software Engineer for
                International Business Machines (IBM) where I perform both front end and back end development for
                classified government contracts.
            </p>
            <p class="description" style="margin-top: 40px;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Once I graduate, I will have accumulated approximately 3 years of professional work experience, with
                half of that as a member of an agile development team. I am self-driven and passionate about the work I
                do and thrive when placed in a collaborative environment. As far as what type of development I prefer, I
                have not decided; the thrill of overcoming challenges can be found anywhere in software development, and
                that is what I seek.
            </p>
            <h1 style="margin-top: 50px; color: #67BDC1">Programming Proficiencies</h1>
            <table style="width: 100%">
                <tr>
                    <td>
                        <h5 style="text-align: center">Major Projects per Language</h5>
                        <google-chart
                                type="pie"
                                id="language-chart"
                                style="margin-top: -70px; margin-left: -60px; padding-bottom: 450px"
                                options='{
                        "backgroundColor": "transparent",
                        "height": "500",
                        "width": "500",
                        "legend": "none",
                        "slices": {
                                "0": {"color": "#E01E22"},
                                "1": {"color": "#1362A1"},
                                "2": {"color": "#F7DB4D"},
                                "3": {"color": "#008CAE"},
                                "4": {"color": "#633191"},
                                "5": {"color": "red"},
                                "6": {"color": "green"}
                            }
                        }'
                                cols='[{"label": "Language", "type": "string"} , {"label": "Project Count", "type": "number"} ]'
                                rows='[
                        ["JAVA", 10],
                        ["C/C++", 5],
                        ["HMTL/CSS/JS", 3],
                        ["SQL/PLSQL", 3],
                        ["VBA", 2],
                        ["Scala", 1],
                        ["Python", 1]
                        ]'>
                        </google-chart>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <table style="text-align: center; width: 100%">
                            <tr>
                                <td>
                                    <img src="resources/java-logo.png" class="language-logo">
                                </td>
                                <td>
                                    <img src="resources/c-logo.png" class="language-logo">
                                </td>
                                <td>
                                    <img src="resources/js-logo.png" class="language-logo">
                                </td>
                                <td>
                                    <img src="resources/sql-logo.png" class="language-logo">
                                </td>
                                <td>
                                    <img src="resources/vb-logo.png" class="language-logo">
                                </td>
                                <td>
                                    <img src="resources/scala-logo.png" class="language-logo">
                                </td>
                                <td>
                                    <img src="resources/python-logo.png" class="language-logo">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    JAVA
                                </td>
                                <td>
                                    C/C++
                                </td>
                                <td>
                                    JS/HTML/CSS
                                </td>
                                <td>
                                    SQL/PLSQL
                                </td>
                                <td>
                                    Visual Basic
                                </td>
                                <td>
                                    Scala
                                </td>
                                <td>
                                    Python
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; margin-left: 80px;" valign="top">
                <tr>
                    <td style="vertical-align: top">
                        <h2 style="color: #67BDC1">Most Proficient In</h2>
                        <ul>
                            <li>Java</li>
                            <li>C and C++</li>
                            <li>JS/HTML/CSS</li>
                        </ul>
                    </td>
                    <td style="vertical-align: top">
                        <h2 style="color: #67BDC1">Prominent Skills</h2>
                        <ul>
                            <li>Client-Server Architecture</li>
                            <li>RESTful Web Services</li>
                            <li>Unit Testing</li>
                            <li>Agile Software Development</li>
                        </ul>
                    </td>
                    <td style="vertical-align: top">
                        <h2 style="color: #67BDC1">Go-to Toolset</h2>
                        <ul>
                            <li>Eclipse IDE</li>
                            <li>WebStorm IDE</li>
                            <li>Atlassian Tool Suite</li>
                            <li>Bash</li>
                            <li>Git</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <hr class="long-separator">
            <h1 style="margin-top: 50px; color: #67BDC1">My Hobbies</h1>
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;Coding</h2>
            <p class="description" style="margin-left: 100px; margin-right: 100px;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                I really enjoy stretching the boundaries of my coding skills.  Often, I will take an algorithm learned
                in class and work to create a more elegant, functional solution. While there may be many ways to solve
                particular problem, I like to expand my capabilities by exploring various options with different
                techniques. I also enjoy spending some of my free time tutoring other Computer Science students with
                the best practices of Java.
            </p>
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;Hiking, Biking, and Rafting</h2>
            <p class="description" style="margin-left: 100px; margin-right: 100px;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Growing up in West Virginia, I've had access to exceptional outdoor locations. From kayaking down Cheat
                River, to exploring Cooper's Rock State Forest, and riding the Mon River Rail Trail for miles, I enjoy
                leaving technology behind for a few hours to appreciate my environment.
            </p>

            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;Culinary Engineering</h2>
            <p class="description" style="margin-left: 100px; margin-right: 100px;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                "I have not failed. I've just found 10,000 ways that won't work." - Thomas A. Edison
            </p>
            <p class="description" style="margin-left: 100px; margin-right: 100px;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                I have chosen this quote as it captures my culinary engineering, or rather, amateur engineering,
                experiences quite accurately. I like to try new foods, cook interesting things, and not burn
                my house down in the process.
            </p>

            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;Gaming</h2>
            <p class="description" style="margin-left: 100px; margin-right: 100px;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Some of my free time goes toward gaming. I am a Sun Bro, Dragonborn, Inquisitor, Gwynbleidd, as
                well as other things not totally relevant to a Software Engineering position.
            </p>
            <p class="description" style="margin-left: 100px; margin-right: 100px;">
                Some of my competitive highlights are as follows:
            </p>
            <ul style="margin-left: 100px; margin-right: 100px;">
                <li>Within Top 95% of Hearthstone Players</li>
                <li>Qualified Wood League MOBA Player</li>
                <li>I won a match of 1v1 StarCraft 2</li>
            </ul>

        </div>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'about-content'
        });
    });
</script>
