<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-input/paper-textarea.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">

<dom-module id="contact-content">
    <style>
        .description {
            text-align: justify;
            line-height: 120%;
            font-size: 18px;
        }
        :root {
            --paper-input-container-focus-color: #44E4EA;
            --paper-input-container-input-color: #929292;
        }
        .input {
            max-width: 1200px;
            margin-left:
            /*margin: 0 auto;*/
        }
        paper-button.submit {
            background-color: #44E4EA;
            color: black;
            margin-top: 20px;
            float: right;
        }
    </style>
    <template>
        <h1 style="color: #44E4EA; margin: 0 auto;">Contact Me</h1>
        <br>
        <p class="description">
            Interested in getting a hold of me? Feel free to contact me or explore some of my social media links up top.
        </p>
        <p class="description">
            (Warning: I don't keep up with social media too well, so you might find them to be a bit dull).
        </p>
        <br>
        <h3>Primary Email: gatto.cjg@gmail.com</h3>
        <h3>Phone Number: (304) 216-3269</h3>
        <br>
        <p class="description">
            Or, fill out the form below!
        </p>
        <br>
        <paper-input id="subject" class="input" label="Subject"></paper-input>
        <paper-textarea id="body" class="input" label="Comments"></paper-textarea>
        <paper-button id="back-button" class="submit" raised on-click="sendEmail"><b>Submit</b></paper-button>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'contact-content',

            sendEmail: function() {
                var emailTo = 'gatto.cjg@gmail.com';
                var emailSub = document.querySelector('#subject').value;
                var emailBody = document.querySelector('#body').value;
                window.open("mailto:"+emailTo+'?subject='+emailSub+'&body='+emailBody);
            }
        });
    });
</script>