<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="bower_components/iron-pages/iron-pages.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">
<link rel="import" href="bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="bower_components/neon-animation/neon-animations.html">
<link rel="import" href="bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="about-content.html">
<link rel="import" href="portfolio/portfolio-content.html">
<link rel="import" href="experience-content.html">
<link rel="import" href="contact-content.html">
<link rel="import" href="resume-content.html">

<dom-module id="content-tabs">
    <template id="contentTemplate">
        <style>
            :root {
                --paper-tab-ink: #929292;
            }
            body {
                overflow: hidden;
                @apply(--layout-fullbleed);
            }
            .homepage-tabs {
                background: black;
                font: Roboto;
                color: white;
                height: 150px;
                min-width: 1200px !important;
                background-image: url("resources/newYork_1.jpg");
            }
            paper-card {
                background-color: #262626;
                box-shadow: 7px 7px 3px #181818;
                padding: 1%;
                margin: auto;
                margin-top: 2%;
                /*width: 75% !important;*/
                width: 1200px !important;
                display: table;
                color: #929292;
            }
            paper-tabs[align-bottom] {
                box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
            }
            paper-tabs.cyan::shadow #selectionBar {
                background-color: #44E4EA;
            }
            img.social-icon {
                height: 56px;
                width: 56px;
                float: right;
            }
            .fab {
                position: relative;
                display: inline-block;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                overflow: hidden;
                transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                transition-delay: 0.2s;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                float: right;
            }
            .google-polymer {
                width: 30px;
                height: auto;
                padding-top: 5px;;
                margin-right: 10px;
                margin-left: 2px;
            }
            table.polymer-watermark {
                color: #494949;
                float: right;
            }
            h1.name-header {
                margin-top: 50px;
                width: 100%;
                color: white;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }
        </style>
        <paper-toolbar class="homepage-tabs">
            <h1 class="name-header">
                Christopher Gatto<br>
                <img src="resources/signature_tealFont_transparentBackground.png" style="height: 50px; width: auto;">
            </h1>
            <!--<img src="resources/signature_tealFont_transparentBackground.png" style="height: 80px; width: auto;">-->
            <div id="navigationContainer" class="sansserif bottom">
                <paper-tabs id="navBar" selected="{{selected}}" class="cyan">
                    <paper-tab id="about-paper-tab"><h2>About Me</h2></paper-tab>
                    <paper-tab id="experience-paper-tab"><h2>Experience</h2></paper-tab>
                    <paper-tab id="portfolio-paper-tab"><h2>Portfolio</h2></paper-tab>
                    <paper-tab id="contact-paper-tab"><h2>Contact</h2></paper-tab>
                    <paper-tab id="resume-paper-tab"><h2>Resume</h2></paper-tab>
                </paper-tabs>
            </div>
            <div style="width: 100%;">
                <div class="fab">
                    <a href="https://www.facebook.com/christopher.gatto.7" target="_blank">
                        <img src="resources/facebook-icon.png" class="social-icon">
                    </a>
                    <paper-ripple class="circle" recenters></paper-ripple>
                </div>
                <div class="fab">
                    <a href="https://twitter.com/ChrisJGatto" target="_blank">
                        <img src="resources/twitter-icon.png" class="social-icon">
                    </a>
                    <paper-ripple class="circle" recenters></paper-ripple>
                </div>
                <div class="fab">
                    <a href="https://plus.google.com/113757767047413040031/posts" target="_blank">
                        <img src="resources/google-icon.png" class="social-icon">
                    </a>
                    <paper-ripple class="circle" recenters></paper-ripple>
                </div>
                <div class="fab">
                    <a href="https://www.linkedin.com/in/christopher-gatto-50b0ba6b" target="_blank">
                        <img src="resources/linkedin-icon.png" class="social-icon">
                    </a>
                    <paper-ripple class="circle" recenters></paper-ripple>
                </div>
            </div>
        </paper-toolbar>
        <div>
        <neon-animated-pages id="contentCards" selected="{{selected}}" class="sansserif" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
            <div>
                <paper-card>
                    <about-content id="about-content" style="display: block"></about-content>
                </paper-card>
                <table class="polymer-watermark">
                    <tr>
                        <td><h6>made with Google Polymer </h6></td>
                        <td><img src="resources/polymer-logo.png" class="google-polymer"></td>
                    </tr>
                </table>
            </div>
            <div>
                <paper-card>
                    <experience-content id="experience-content" style="display: block"></experience-content>
                </paper-card>
                <table class="polymer-watermark">
                    <tr>
                        <td><h6>made with Google Polymer </h6></td>
                        <td><img src="resources/polymer-logo.png" class="google-polymer"></td>
                    </tr>
                </table>
            </div>
            <div class="content">
                <paper-card>
                    <portfolio-content id="portfolio-content" style="display: block"></portfolio-content>
                </paper-card>
                <table class="polymer-watermark">
                    <tr>
                        <td><h6>made with Google Polymer </h6></td>
                        <td><img src="resources/polymer-logo.png" class="google-polymer"></td>
                    </tr>
                </table>
            </div>
            <div>
                <paper-card>
                    <contact-content id="contact-content" style="display: block"></contact-content>
                </paper-card>
                <table class="polymer-watermark">
                    <tr>
                        <td><h6>made with Google Polymer </h6></td>
                        <td><img src="resources/polymer-logo.png" class="google-polymer"></td>
                    </tr>
                </table>
            </div>
            <div class="content">
                <resume-content></resume-content>
                <table class="polymer-watermark">
                    <tr>
                        <td><h6>made with Google Polymer </h6></td>
                        <td><img src="resources/polymer-logo.png" class="google-polymer"></td>
                    </tr>
                </table>
            </div>
        </neon-animated-pages>
        </div>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'content-tabs',

            properties: {
                selected: {
                    type: Number,
                    value: 0
                }
            },

            listeners: {
                'about-paper-tab.tap': 'aboutClicked',
                'experience-paper-tab.tap': 'experienceClicked',
                'portfolio-paper-tab.tap': 'portfolioClicked',
                'contact-paper-tab.tap': 'contactClicked',
                'resume-paper-tab.tap': 'resumeClicked',
                'toResumeFromAbout': '_toResumeFromAbout'
            },

//            ready: function() {
//                console.log(this.localName + '#' + this.id + ' was attached with a screen width of ' + window.innerWidth);
//
//                var largeNav = '';
//                largeNav += '<paper-tabs id=\"navBar\" selected=\"{{selected}}\">';
//                largeNav += '<paper-tab id=\"about-paper-tab\"><h2>About Me</h2></paper-tab>';
//                largeNav += '<paper-tab id=\"experience-paper-tab\"><h2>Experience</h2></paper-tab>';
//                largeNav += '<paper-tab id=\"portfolio-paper-tab\"><h2>Portfolio</h2></paper-tab>';
//                largeNav += '<paper-tab id=\"contact-paper-tab\"><h2>Contact</h2></paper-tab>';
//                largeNav += '<paper-tab id=\"resume-paper-tab\"><h2>Resume</h2></paper-tab>';
//                largeNav += '</paper-tabs>';
//
//                this.$.navigationContainer.innerHTML = largeNav;
//                this.$.navBar.classList.add('cyan');
//                this.updateStyles();
//            },

            aboutClicked: function() {
                this.setAnimationBehavior(0);
            },

            experienceClicked: function() {
                this.setAnimationBehavior(1);
            },

            portfolioClicked: function() {
                this.setAnimationBehavior(2);
            },

            contactClicked: function() {
                this.setAnimationBehavior(3);
            },

            resumeClicked: function() {
                this.setAnimationBehavior(4);
            },

            setAnimationBehavior: function(destination) {
                var navBar = document.querySelector("#navBar");

                if(navBar) {
                    var current = navBar.selected;

                    if(current < destination) {
                        this.entryAnimation = 'slide-from-right-animation';
                        this.exitAnimation = 'slide-left-animation';
                    }
                    else if(current > destination) {
                        this.entryAnimation = 'slide-from-left-animation';
                        this.exitAnimation = 'slide-right-animation';
                    }
                    else {
                        this.entryAnimation = '';
                        this.exitAnimation = '';
                    }
                }
            }
        });
    });
</script>