<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="bower_components/paper-tabs/paper-tab.html">
<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="vertical-timeline/css/style.css">

<script src="vertical-timeline/js/modernizr.js"></script>

<dom-module id="experience-content">
    <style>
        /*Large Settings*/
        @media only screen and (min-width: 1170px) {
            .nasa-logo {
                width: 100%;
                height: auto;
                top: 33%;
                left: 25%
            }
            .ibm-logo {
                width: 60px;
                height: auto;
                top: 50%;
                left: 25%
            }
            .cake-logo {
                width: 50px;
                height: 40px;
                top: 35%;
                left: 28%;
            }
            .wvu-logo {
                width: 45px;
                height: 45px;
                left: 31%;
                top: 40%;
            }
        }

        /*Small Settings*/
        @media only screen and (max-width: 1170px) {
            .nasa-logo {
                width: 100%;
                height: auto;
                top: 42%;
                left: 35%
            }
            .cake-logo {
                width: 40px;
                height: 32px;
                top: 35%;
                left: 28%;
            }
            .ibm-logo {
                width: 45px;
                height: auto;
                top: 60%;
                left: 35%
            }
            .wvu-logo {
                width: 28px;
                height: 28px;
                left: 45%;
                top: 50%;
            }
        }
    </style>
    <template>
        <section id="cd-timeline" class="cd-container" style="text-align: justify">

            <!-- Graduate College -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img" style="background: darkblue">
                    <img src="resources/wvu-logo.png" class="wvu-logo" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>Graduate from WVU</h2>
                    <p>
                        Chris will graduate from West Virginia University in the Spring 2016 semester with a cumulative
                        GPA of 3.959, 160 completed credits, a Bachelors Degree in Computer Science, and a Bachelors
                        Degree in Computer Engineering.
                    </p>
                    <span class="cd-date" style="color: #67BDC1;">May 2016</span>
                </div>
            </div>

            <!-- IBM & Leidos: UC2 -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img" style="background: white">
                    <img src="resources/ibm-logo.png" class="ibm-logo" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>IBM Employee as Leidos Contractor</h2>
                    <h3>Second Government Project</h3>
                    <h5>Junior Software Engineer</h5>
                    <p>
                        Duties on the current project application include User and Role Permissions, designing RESTful
                        interfaces, creating Polymer and JavaScript based widgets, requirement elicitation and
                        refinement, and a provider of team charisma!
                    </p>
                    <p>Acquired Skills:</p>
                    <ul>
                        <li>Client/Server Application Architecture</li>
                        <li>Atlassian Project Tools Suite</li>
                        <li>RESTful Web Services</li>
                        <li>JAVA Unit Testing</li>
                        <li>Google Polymer</li>
                    </ul>
                    <span class="cd-date" style="color: #67BDC1;">July 2015</span>
                </div>
            </div>

            <!-- IBM & Leidos: ASMA -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img" style="background: white">
                    <img src="resources/ibm-logo.png" class="ibm-logo" alt="Picture">
                </div>
                <div class="cd-timeline-content">
                    <h2>IBM Employee as Leidos Contractor</h2>
                    <h3>First Government Project</h3>
                    <h5>Junior Software Engineer</h5>
                    <p>
                        Duties on Chris' first Department of Defense project included management and transformations of
                        multiple forms of data, generation of various user screens, application optimization, and
                        more.
                    </p>
                    <p>Acquired Skills</p>
                    <ul>
                        <li>Professional JAVA Environment</li>
                        <li>Agile Software Development</li>
                        <li>Git Source Control</li>
                    </ul>
                    <span class="cd-date" style="color: #67BDC1;">May 2014</span>
                </div>
            </div>

            <!-- NASA: HAMT Database -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img" style="background: white">
                    <img src="resources/nasa-logo.png" class="logo nasa-logo" alt="Picture">
                </div>

                <div class="cd-timeline-content">
                    <h2>NASA IV&V</h2>
                    <h3>Hazard Analysis Management Tool Database</h3>
                    <h5>College Level Intern</h5>
                    <p>
                        After being accepted as a year-round college intern, Chris returned to work under the SMA
                        division at the NASA IV&V facility. He became deeply involved with the Hazard Analysis
                        Management Tool database; a project resulting from the high success of the database developed
                        for the Global Precipitation Measurement (GPM) mission the previous summer. Responsibilities on
                        this project included creating user forms, storing and querying of data, and testing.
                    </p>
                    <p>Acquired Skills:</p>
                    <ul>
                        <li>Data Type Testing</li>
                        <li>Access SQL</li>
                    </ul>
                    <span class="cd-date" style="color: #67BDC1;">June 2013</span>
                </div>
            </div>

            <!-- Started College -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img" style="background: darkblue">
                    <img src="resources/wvu-logo.png" class="wvu-logo" alt="Picture">
                </div>

                <div class="cd-timeline-content">
                    <h2>Enrolled at WVU</h2>
                    <p>
                        Chris was accepted and enrolled into his first choice, West Virginia University, as a Computer
                        Science and Computer Engineering dual major.
                    </p>
                    <span class="cd-date" style="color: #67BDC1;">August 2012</span>
                </div>
            </div>

            <!-- NASA: SMA Intern -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img" style="background: white">
                    <img src="resources/nasa-logo.png" class="logo nasa-logo" alt="Picture">
                </div>

                <div class="cd-timeline-content">
                    <h2>NASA IV&V</h2>
                    <h3>Hazard Report Analysis and EyasSat</h3>
                    <h5>High School Level Intern</h5>
                    <p>
                        Chris' second high school internship was with the NASA IV&V Software and Mission Assurance (SMA)
                        team. During his time, the team was tasked with improving methods of Hazard Analysis Report
                        management through the use of a Microsoft Access database for the Gloabl Precipitation
                        Measurement (GPM) mission. Furthermore, Chris also spent time working on the EyasSat model
                        satellite whose goal is to teach the basics of satellite subsystems, navigation in space, and
                        ground to satellite communications.
                    </p>
                    <p>Acquired Skills:</p>
                    <ul>
                        <li>Basics of Satellite Subsystems</li>
                        <li>Microsoft Access Database</li>
                        <li>Visual Basic</li>
                    </ul>
                    <span class="cd-date" style="color: #67BDC1;">June 2012</span>
                </div>
            </div>

            <!-- NASA: Robotics Intern -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img" style="background: white">
                    <img src="resources/nasa-logo.png" class="logo nasa-logo" alt="Picture">
                </div>

                <div class="cd-timeline-content">
                    <h2>NASA IV&V</h2>
                    <h3>Robotics Project</h3>
                    <h5>High School Level Intern</h5>
                    <p>
                        Chris was fortunate in having the opportunity of starting to mold his professional career early
                        by being accepted as an intern at the NASA Independent Verification and Validation Facility in
                        Fairmont, West Virginia. The project's goal was to use robotics to autonomously scout and map an
                        area with infrared sensors. The final stage was to incorporate a second robot and use machine
                        learning and swarm intelligence to more efficiently map the area.
                    </p>
                    <p>Acquired Skills:</p>
                    <ul>
                        <li>Machine Learning</li>
                        <li>Objective C</li>
                    </ul>
                    <span class="cd-date" style="color: #67BDC1;">June 2011</span>
                </div>
            </div>

            <!-- Hello World -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img" style="background: white">
                    <img src="resources/cake-logo.png" class="cake-logo" alt="Picture">
                </div>

                <div class="cd-timeline-content">
                    <h2>LOGGER.info("Hello World");</h2>
                    <span class="cd-date" style="color: #67BDC1;">July 16, 1994</span>
                </div>
            </div>
        </section>
    </template>
</dom-module>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="vertical-timeline/js/main.js"></script>
<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'experience-content'
        });
    });
</script>
