<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/neon-animation/neon-animations.html">
<link rel="import" href="bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="content-tabs.html">
<link rel="import" href="portfolio/climate-data-page.html">
<link rel="import" href="portfolio/surveillance-page.html">
<link rel="import" href="portfolio/murex-page.html">

<dom-module id="home-page">
    <template>
        <neon-animated-pages id="portfolio-pages" selected="{{selected}}" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]">
            <neon-animatable>
                <content-tabs id="content-tabs"></content-tabs>
            </neon-animatable>
            <neon-animatable>
                <climate-data-page id="climate-data-page"></climate-data-page>
            </neon-animatable>
            <neon-animatable>
                <surveillance-page id="surveillance-page"></surveillance-page>
            </neon-animatable>
            <neon-animatable>
                <murex-page id="murex-page"></murex-page>
            </neon-animatable>
        </neon-animated-pages>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'home-page',

            listeners: {
                'showClimateDataPage': '_showClimateDataPage',
                'showSurveillancePage': '_showSurveillancePage',
                'showMurexPage': '_showMurexPage',
                'hidePortfolioPage': '_hidePortfolioPage'
            },

            _hidePortfolioPage: function(e) {
                this.setHidePageAnimation();
                this.selected = 0;
            },

            _showClimateDataPage: function() {
                this.setShowPageAnimation();
                this.selected = 1;
            },

            _showSurveillancePage: function() {
                this.setShowPageAnimation();
                this.selected = 2;
            },

            _showMurexPage: function() {
                this.setShowPageAnimation();
                this.selected = 3;
            },

            setShowPageAnimation: function() {
                this.entryAnimation = 'slide-up-animation';
                this.exitAnimation = 'slide-up-animation';
            },

            setHidePageAnimation: function() {
                this.entryAnimation = 'slide-up-animation';
                this.exitAnimation = 'slide-up-animation';
            }
        });
    });
</script>

<script>
    window.addEventListener('WebComponentsReady', function(e) {
        document.querySelector('#portfolio-pages').selected = 0
    });
</script>