<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">

<dom-module id="resume-content">
    <template>
        <style>
            paper-card {
                background-color: #262626;
                box-shadow: 7px 7px 3px #181818;
                padding: 1%;
                margin: auto;
                margin-top: 2%;
                width: 1200px !important;
                display: table;
                color: #929292;
            }
        </style>
        <paper-card>
            <p>
                A PDF of my resume can be found <a href="resources/ChristopherGatto_CV.pdf" target="_blank" id="goToResume" style="color: #44E4EA"><b>here</b></a>.
            </p>
        </paper-card>
        <paper-card>
            <h1>Christopher Jason Gatto</h1>
            <p>
                Permanent Address: 901 Ann Marie Drive, Morgantown WV, 26508<br>
                Email Address: gatto.cjg@gmail.com<br>
                Cell: (304) 216-3269<br>
            </p>
        </paper-card>
        <paper-card>
            <h1>Education</h1>
            <hr>
            <p>
                <b>West Virginia University, Benjamin Statler College of Engineering and Mineral Resources</b><br>
                <i>August 2012 – May 2016</i><br>
                <i>Morgantown, WV</i><br>
                <ul>
                    <li>Dual Degree: Computer Science and Computer Engineering</li>
                    <li>Cumulative College GPA: 3.959/4.00</li>
                    <li>Class Rank: Senior (148 credit hours after completion of Fall 2015 Semester)</li>
                </ul>
            </p>
        </paper-card>
        <paper-card>
            <h1>Relevant Coursework</h1><br>
            <hr>
            <p>
                <b>Databases and Big Data:</b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;Gained experience in Oracle SQL, PL/SQL, JDBC. Worked with Amazon Web Services, Apache<br>
                Spark, MongoDB. The following demo contains data processed using AWS and Spark, and displayed<br>
                using Meteor and JavaScript with a MongoDB backend<br>
                Demo: <a href="http://cjgatto-climate.meteor.com/" target="_blank">cjgatto-climate.meteor.com</a> (may require page reload)<br>
                <br>
                <b>Operating Systems:</b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;Constructed an operating system using ANSI C and Assembly. The OS implemented<br>
                multiprogramming paradigms including Time Slicing, Context Switching, Priority Queues, Heap Memory<br>
                Management, and Interrupts. The OS utilizes a Command Line Interface complete with system commands.<br>
                Demo: Available upon request<br>
            </p>
        </paper-card>
        <paper-card>
            <h1>Work Experience</h1>
            <hr>
            <p>
                <b>International Business Machines Corporation</b><br>
                <i>Keyser, West Virginia</i><br>
                <i>May 2014 — Present</i><br>
                <br>
                Title: Junior Software Engineer<br>
                Description:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Working as an IBM employee with Leidos for two classified Department of Defense programs.<br>
                Gained skills and experience with User and Role Permissions, RESTful Services, Client / Server<br>
                Application Architecture, Source Control, and Agile Software Development.<br>
                <br>
                <b>National Aeronautics and Space Administration Independent Verification and Validation Facility</b><br>
                <i>Fairmont, West Virginia</i><br>
                <i>June 2013 – April 2014</i><br>
                <br>
                Title: Full Year College Intern via IMTS Contract<br>
                Description:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Design and develop a Software Mission Assurance (SMA) database used to store, search, and<br>
                manipulate large volumes of data, improving methods of managing Hazard Analyses and<br>
                documentation for multiple high value NASA space missions across the agency.<br>
                <br>
                <b>NASA IV&V</b><br>
                <i>Fairmont, West Virginia</i><br>
                <i>June 2012 – August 2012</i><br>
                <br>
                Title: High School Intern<br>
                Description:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Worked with the NASA IV&V SMA team to improve methods for managing the data contained in<br>
                Hazard Analysis Reports by creating and programming an Access database for the Global<br>
                Precipitation Measurement (GPM) mission. Worked and performed IV&V on EyasSat, a model<br>
                satellite with the purpose of teaching the basic subsystems of a satellite, satellite navigation in<br>
                space, and ground to satellite communications.<br>
                <br>
                <b>NASA IV&V</b><br>
                <i>Fairmont, West Virginia</i><br>
                <i>June 2011 – August 2011</i><br>
                <br>
                Title: High School Intern<br>
                Description:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Constructed and programmed a robot to navigate and observe its environment with basic<br>
                artificial intelligence, as well as implementing swarm behaviors by utilizing robot to robot<br>
                communications. IV&V was performed on the system to improve the robot’s software performance<br>
                and reliability.<br>
            </p>
        </paper-card>
        <paper-card>
            <h1>Technical Skills</h1>
            <hr>
            <p>
                <b>Leadership Skills</b><br>
                <ul>
                    <li>Led a group of interns during my June 2013 – August 2013 NASA IV&V Internship when
                        assigned to manage and assist high school interns to complete a shared goal.</li>
                    <li>Developed Professional Team Membership skills during all of my NASA IV&V Internships.</li>
                    <li>Attended the Rotary Youth Leadership Awards (RYLA) Camp.</li>
                </ul>
                <b>Programming</b><br>
                <ul>
                    <li>Most Proficient Language: Java, C/C++, JavaScript, HTML, CSS, SQL, PL/SQL</li>
                    <li>Software Engineering: Agile Software Development, Client / Server Architecture</li>
                    <li>Networking: REST, SOAP, TCP/IP, UDP, HTTP</li>
                    <li>Web Frameworks: Meteor.js, Google Polymer</li>
                    <li>Database: Oracle SQL, MongoDB, JDBC</li>
                </ul>
                <b>Computer Skills</b><br>
                <ul>
                    <li>Experienced in computer hardware (i.e. assembling components, meeting system
                        requirements)</li>
                    <li>Experienced in both high-level and low-level programming languages and mechanics</li>
                </ul>
            </p>
        </paper-card>
        <paper-card>
            <h1>Honors / Activities / Awards</h1>
            <hr>
            <p>
                <b>Fellowships:</b><br>
                <ul>
                    <li>Upsilon Pi Epsilon (International Honor Society for the Computing and Information Disciplines)</li>
                    <li>Eta Kappa Nu (International Electrical and Computer Engineering Honor Society of the IEEE)</li>
                </ul>
                <b>Scholarships:</b><br>
                <ul>
                    <li>Promise Scholarship</li>
                    <li>Rhododendron Scholarship</li>
                    <li>Engineering Achievement Scholarship</li>
                </ul>
                <br>
                <b>Activities and Honors:</b><br>
                <ul>
                    <li>High School Drum line section leader (09-12)</li>
                    <li>High School Lacrosse (09-10)</li>
                    <li>National Honors Society (11-12)</li>
                    <li>RYLA Leadership Camp (09)</li>
                    <li>Model United Nations (09-12)</li>
                    <li>Superior Performance in the America Mathematics Contest (12)</li>
                    <li>Mathematical Association of America (12)</li>
                    <li>Science Bowl (12)</li>
                </ul>
            </p>
        </paper-card>
        <paper-card>
            <h1>References</h1>
            <br>
            <p>
                References available on request.
            </p>
        </paper-card>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'resume-content'
        });
    });
</script>