<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/webcomponentsjs/webcomponents-lite.js">

<dom-module id="climate-data-tab">
    <template>
        <paper-tabs no-bar noink style="width: 100%; height: 100%">
            <paper-tab id="climate-data-tab" style="background-image: url(../resources/climate-table-pic.PNG); border-radius: 3px; background-repeat: no-repeat; width: 100%; height: 100%">
                <h2>&nbsp;</h2>
            </paper-tab>
        </paper-tabs>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'climate-data-tab',

            listeners: {
                'climate-data-tab.tap': 'fireShowClimateDataPage',
            },

            fireShowClimateDataPage: function(e) {
                this.fire('showClimateDataPage');
            }
        });
    });
</script>