<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="stylesheet" type="text/css" href="shared-styles.css">

<dom-module id="climate-data-page">
    <template>
        <style>
            .climate-data-page-style {
                min-height: 100vh;
                min-width: 1200px !important;
                background-color: #006699;
                color: #000000;
                overflow: hidden;
            }
            img.resize-image {
                height: 90px;
                width: auto;
            }
            img.d3-special-resize {
                height: 150px;
                width: auto;
            }
            .card-container {
                width: 50%;
                height: auto;
                margin: auto;
                margin-bottom: 60px;
            }
            paper-card {
                width: 100%;
                height: 100%;
                background-color: rgb(232, 240, 255);
                padding: 20px;
            }
            .main-left-image-container {
                float: left;
                padding-right: 10px;
            }
            .main-right-image-container {
                float: right;
                padding-left: 10px;
            }
            .choropleth-sizing {
                height: 935px !important;
                overflow: hidden !important;
                width: 100%;
                border-radius: 3px
            }
            paper-button.orange {
                background-color: #FF9900;
            }
        </style>
        <div id="test" class="climate-data-page-style sansserif">
            <paper-button id="back-button" class="custom orange" raised><b>Back</b></paper-button>
            <h1 style="text-align: center; color: white; margin-bottom: 50px">Temperature Regression Analysis</h1>
            <div class="card-container">
                <paper-card style="text-align: justify">
                    <div class="main-left-image-container">
                        <div>
                            <img style="margin-top: 5px; margin-right: 5px;" class="resize-image" src="../resources/aws-logo.png">
                        </div>
                        <div>
                            <img style="margin-left: 30px; margin-bottom: 10px;" class="resize-image" src="../resources/spark-logo.png">
                        </div>
                    </div>
                    <!-- Text about AWS and Spark -->
                    The final term project of my Database Design and Theory course was an exercise in data aggregation
                    and processing. For this project, we examined over 20 GB of NOAA Global Surface Summary of the Day
                    (GSOD) data and were tasked with deriving meaningful trends in weather patterns. My take on the
                    project was to aggregate all United States base station data, average temperatures over 5 year
                    intervals for each state between 1950 and 2000, and display them in an intuitive manner.  My class
                    was very fortunate to have received a donation from Amazon Web Services allowing us access to their
                    cloud computing servers. Using the AWS servers, I employed Apache Spark <!-- <sup>TM</sup> --> cluster
                    computing software as my primary map reduction and data processing engine.
                </paper-card>
            </div>
            <div class="card-container">
                <paper-card style="text-align: justify">
                    <div class="main-right-image-container">
                        <img style="margin: 10px;" class="resize-image" src="../resources/meteor-logo.png">
                    </div>
                    <!--Text about meteor-->
                    Meteor.js is a web framework aimed at streamlining the JavaScript app development process. I chose to
                    use this framework not only because of its glowing reputation as a rapid app development
                    environment, but also because it has a no SQL database pre-packaged and ready to use. Additionally,
                    hosting was provided for my app, thanks Meteor!
                </paper-card>
            </div>
            <div class="card-container">
                <paper-card style="text-align: justify">
                    <div class="main-left-image-container">
                        <img style="margin: 20px; float: left;" class="resize-image" src="../resources/mongoDB-logo.png">
                    </div>
                    <!--Text about MongoDB-->
                    Apache Spark possesses the ability to directly save data into JSON files; this is how I exported my
                    reduced data from AWS. MongoDB is a NoSQL, document-oriented database, and is perfectly suited to
                    store the JSON climate data. My Meteor application maintains the MongoDB database, and is able to
                    quickly query what climate data is to be displayed.
                </paper-card>
            </div>
            <div class="card-container">
                <paper-card style="text-align: justify">
                    <div class="main-right-image-container">
                        <img style="margin: 20px; float: right;" class="d3-special-resize" src="../resources/d3-logo.png">
                    </div>
                    <!--Text about D3JS-->
                    My final challenge was to determine the best way to visualize the varying average temperatures
                    across all 50 states. The solution had to be intuitive enough so that a viewer with no prior
                    experience in weather data could interpret the results, but without compromising the depth and
                    accuracy of the findings. I chose to use a choropleth map, which relays statistical data by color
                    and location. The choropleth is a variation of
                    <a href="http://bl.ocks.org/mbostock/4060606" target="_blank">this choropleth</a> that is included
                    in the Data-Driven Documents (D3.js) library.
                    <br>
                    <br>
                    Please feel free to try it out below! (Note: Page may not initially load the 1950 climate data.
                    Moving the slider will cause it to reload)
                </paper-card>
            </div>
            <div class="card-container">
                <paper-card style="text-align: justify">
                    <h3>Error Loading Climate Demo</h3>
                    <br>
                    <p>
                        Please check back later.
                    </p>
                </paper-card>
            </div>
            <!--<iframe class="invisable-scrollable-content choropleth-sizing" src="http://cjgatto-climate.meteor.com/" frameborder="0" scrolling="no"></iframe>-->
        </div>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({

            is: 'climate-data-page',

            listeners: {
                'back-button.tap': 'hide'
            },

            hide: function() {
                this.fire('hidePortfolioPage');
            }
        });
    });
</script>