<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../bower_components/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">
<link rel="stylesheet" type="text/css" href="shared-styles.css">

<dom-module id="murex-terminal">
    <template>
        <style>
            .murex-terminal-style {
                min-height: 60vh;
                min-width: 100vh;
                border-color: #28F74D;
                border-width: 3px;
                border: solid;
                border-radius: 2px;
                background-color: #2a2a2a;
                color: #28F74D;
                border-radius: 2px;
                margin: 40px;
            }
            #screen {
                height: 57vh !important;
                min-width: 100vh;
                background-color: #2a2a2a;
                position: relative;
                overflow: hidden;
            }
            .terminal {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                overflow: auto;
                white-space: pre;
            }
            .input {
                min-height: 3vh;
                min-width: 100% !important;
                background-color: #2a2a2a;
                border-width: 0px;
                font-size: larger;
                color: #28F74D;
                border:none;
            }
            .press, input, .press:focus, input:focus{
                outline: 0 !important;
                border:0 none !important;
            }
            #command-table {
                margin: 0 auto;
            }
        </style>

        <div class="murex-terminal-style">
            <div id="screen" >
                <span id="screen-text" class="terminal monospace"><!-- Text Area --></span>
            </div>
            <div >
                <table>
                    <tr>
                        <td class="monospace">&nbsp;MUREX&nbsp;<b>></b></td>
                        <td style="width: 93%"><input id="terminal-input" class="input press monospace" type="text" on-key="submitInput" value="help"></td>
                        <iron-a11y-keys
                                id="keys"
                                keys="enter"
                                target="[[target]]"
                                on-keys-pressed="_enterPressed">
                        </iron-a11y-keys>
                    </tr>
                </table>
            </div>
        </div>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'murex-terminal',

            properties: {
                pressed: {
                    type: String,
                    readOnly: true,
                    value: ''
                },
                boundKeys: {
                    type: Array
                },
                target: {
                    type: Object,
                    value: function() {
                        return document.body;
                    }
                }
            },

            ready: function() {
                this.boundKeys = this.$.keys.keys.split(' ');
            },

            _enterPressed: function(event) {
                console.log(event.detail);
                var terminalInput = document.getElementById('terminal-input');
                var screen = document.getElementById('screen-text');

                if(terminalInput && screen) {
                    screen.innerHTML = screen.innerHTML + '<br>&nbsp;MUREX <b>></b>&nbsp;&nbsp;&nbsp;' + terminalInput.value;

                    if(     terminalInput.value.toLowerCase().localeCompare('help') == 0) {
                        this.printHelp(screen);
                    }
                    else if(terminalInput.value.toLowerCase().localeCompare('whatismurex') == 0) {
                        this.printWhatIsMurex(screen);
                    }
                    else if(terminalInput.value.toLowerCase().localeCompare('systemcommands') == 0) {
                        this.printSystemCommands(screen);
                    }
                    else if(terminalInput.value.toLowerCase().localeCompare('pcbcommands') == 0) {
                        this.printPcbCommands(screen);
                    }
                    else if(terminalInput.value.toLowerCase().localeCompare('processcommands') == 0) {
                        this.printProcessCommands(screen);
                    }
                    else if(terminalInput.value.toLowerCase().localeCompare('showlogo') == 0) {
                        this.printShowLogo(screen);
                    }

                    terminalInput.value = '';
                }
            },

            printWhatIsMurex: function(screen) {
                this.printLine(screen);
                this.printLine(screen);

                var text = '';
                text += ' What is the Murex OS?\n\n';
                text += '\tMurex is a multiprogramming operating system that performs vital process control and \n' +
                        '\tdynamic memory management operations. To implement the multiprogramming paradigm, Murex \n' +
                        '\tutilizes a mixture of time-slicing and prioritized process queues. Murex\'s memory system \n' +
                        '\tconsists of a single statically defined heap populated with dynamically allocated, single \n' +
                        '\theader control blocks. The heap consolidates released free space in order to minimize \n' +
                        '\texternal fragmentation and maximize efficiency.\n';

                this.printScreen(screen, text);
            },

            printSystemCommands: function(screen) {
                this.printLine(screen);
                this.printLine(screen);

                var text = '';
                text += ' Murex System Commands:\n\n';
                text += '\tversion   --  Displays the current Murex version, along with date of release\n';
                text += '\thelp      --  Lists all possible commands\n';
                text += '\tshutdown  --  Empties process queues, frees all heap space, and shuts down the system\n';
                text += '\tgetdate   --  Get the date from the Real Time Clock registers\n';
                text += '\tsetdate   --  Set the current date to the RTC registers\n';
                text += '\tgettime   --  Get the time from the Real Time CLock registers\n';
                text += '\tsettime   --  Set the current time to the RTC registers\n\n';

                this.printScreen(screen, text);
            },

            printPcbCommands: function(screen) {
                this.printLine(screen);
                this.printLine(screen);

                var text = '';
                text += ' Process Control Block Commands:\n\n';
                text += '\tcreatepcb  --  Creates a Process Control Block (PCB). This block contains the process function,' +
                        'priority, and other related attributes.\n';
                text += '\t               A Memory Control Block (MCB) is allocated to store the PCB\n';
                text += '\tdeletepcb  --  Deletes a specific Process Control Block. The corresponding MCB is freed ' +
                        'and the heap consolidates all possible free space\n';
                text += '\tblock      --  Block a PCB. It\'s process will not be given a chance to run until the PCB' +
                        'is unblock\n';
                text += '\tunblock    --  Unblock a PCB and add it back to the Murex priority queue.\n';
                text += '\tshowpcb    --  Displays the attributes for a single PCB\n';
                text += '\tshowall    --  Displays attributes for all existing PCBs, blocked or unblocked\m\n';

                this.printScreen(screen, text);
            },

            printProcessCommands: function(screen) {
                this.printLine(screen);
                this.printLine(screen);

                var text = '';
                text += ' Process Switching Commands:\n\n';
                text += '\tsetpriority  --  Changes the priority of a single PCB. A PCB with a higher priority is ' +
                        'executed before lower priority PCBs, as selected\n';
                text+= '\t                  by the priority queue\n';
                text += '\tsuspend      --  [TEMP] Suspends a PCB, freeing it from the CPU to allow another process ' +
                        'to execute\n';
                text += '\tresume       --  [TEMP] Resumes a PCB, allowing it access to the CPU\n';
                text += '\tloadr3       --  Loads in predefined processes into PCBs and enables them for execution\n';
                text += '\tyield        --  [TEMP] Yields control of the CPU from the CommandHandler (the command' +
                        ' line interface). This enters the CLI as a PCB,\n';
                text += '\t                 and enables Murex to operate in a fully time-slicing manner\n';

                this.printScreen(screen, text);
            },

            printShowLogo: function(screen) {
                this.printLine(screen);

                var text = '';
                text += '\tIt\'s a Shell!\n\n';
                text += '\t                      -:.                            \n';
                text += '\t                    :mNNN+                           \n';
                text += '\t                   +mmmNmh`                          \n';
                text += '\t              .:+oo+-``.:hmh+:`          `           \n';
                text += '\t     //+o:/+sso/-:::://+:osooyhoo/-.`-:odm/          \n';
                text += '\t      Nm+ysdhoyo/....:o+hhdh-:./:+odNNMNNMs--        \n';
                text += '\t    omm:``...ohhdy+//``odNmd..:-``  `-+mMNmo.        \n';
                text += '\t     dd`````.:-.:-```  `:-+hs+/-````  `odd/          \n';
                text += '\t      -```.--:.  `.--...--``:++s:..`.shmm-`          \n';
                text += '\t    +y````.-:``-.-.-...-+-.````/hys++:yshy`          \n';
                text += '\t    y+.:sds:```/.`.`.-```.--`-/`:Nmddy:.odo`         \n';
                text += '\t   `dy+oy/-. `.-.---:.`.``:o+-.``hNy:.` :yd-         \n';
                text += '\t  ++h+s...`: `-:.`---..-.``/````:ds/.``` /ds`        \n';
                text += '\t+mNy-.`````/.`.:-`````:-``--``````yo:``-..hmy:`      \n';
                text += '\t.NNNys`````.-``...:+..-..://--::-ymys-/m:`/NNNNdhh/  \n';
                text += '\t  `:oh+.````No.-`......::.-/:.``-mmddsoNo//NMMMMNy`  \n';
                text += '\t     `+y+-.-o:``..--y/-.```.`.-smmmdNysMmNmNMNMNs    \n';
                text += '\t      `.+y+:o.``````:o:````..yyyhyyoyysyys/+/:``     \n';
                text += '\t   ``````.-:+.`.......-//-...oooo+o++++++++/:-.``    \n';
                text += '\t`````````...///-++:---::/sdyyy+++++++///:::--..```   \n';
                text += '\t  ``````....:mdoo+++++++///::::::----........```     \n';
                text += '\t     ``````..:::--........--........````````````     \n';
                text += '\t           ___________________________ \n';
                text += '\t          |                           |\n';
                text += '\t          |   Murex Command Line OS   |\n';
                text += '\t          |___________________________|\n\n';

                this.printScreen(screen, text);
            },

            printHelp: function(screen) {
                this.printLine(screen);
                this.printLine(screen);

                var text = '';
                text += ' Available Commands:\n\n';
                text += '\twhatIsMurex      --  Describe the Murex Project\n';
                text += '\tsystemCommands   --  Find what system commands Murex has, and what they do\n';
                text += '\tpcbCommand       --  Find what process control block management functions Murex uses\n';
                text += '\tprocessCommands  --  Find what process flow commands Murex has\n';
                text += '\tshowLogo         --  Shows the Murex Logo!\n\n';

                this.printScreen(screen, text);
            },

            printLineAndTab: function(screen) {
                this.printLine(screen);
                this.printTab(screen);
            },

            printLine: function(screen) {
                screen.innerHTML = screen.innerHTML + this.getLine();
            },

            printTab: function(screen) {
                screen.innerHTML = screen.innerHTML + this.getTab();
            },

            getLine: function() {
                return '<br>';
            },

            getTab: function() {
                return this.getSpace(5);
            },

            getSpace: function(num) {
                var spaces = '';
                for(i=0; i<num; i++) {
                    spaces += '&nbsp;';
                }
                return spaces;
            },

            printScreen: function(screen, text) {
                screen.innerHTML = screen.innerHTML + text;
            }
        });
    });
</script>