<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="murex-terminal.html">
<link rel="stylesheet" type="text/css" href="shared-styles.css">

<dom-module id="murex-page">
    <template>
        <style>
            .murex-page-style {
                min-height: 100vh;
                min-width: 1200px !important;
                background-color: #000000;
                color: #28F74D;
                overflow: hidden;
            }
            paper-button.green {
                background-color: #28F74D;
                color: black;
            }
        </style>
        <div id="test" class="murex-page-style">
            <paper-button id="back-button" class="custom green monospace" raised>Back</paper-button>
            <h1 class="monospace" style="text-align: center;">Murex Command Line Operating System</h1>
            <p class="monospace" style="text-align: center; margin-left: 25%; margin-right: 25%; text-align: justify">
                &nbsp;&nbsp;&nbsp;&nbsp;
                During my Operating System Structures course, our term project was to construct a multiprogramming
                operating system that can handle process loading, queuing, and prioritizing, as well as context
                switching, memory management, and various system commands. The class was given a pre-programmed boot
                loader and a temporary memory management system that was later replaced by one the group created. The
                operating system, named Murex, is coded entirely in ANSI C and Assembly.
            </p>
            <p class="monospace" style="text-align: center; margin-left: 25%; margin-right: 25%; text-align: justify">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Please use the mock Murex terminal below to explore some of its functionality. Type "help" for a full
                list of commands. A full demo of Murex is available upon request. NOTE: Not all Murex commands are
                present in the demo, only the most important have been included.
            </p>
            <murex-terminal style="width: 60%"></murex-terminal>
        </div>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({

            is: 'murex-page',

            listeners: {
                'back-button.tap': 'hide'
            },

            hide: function() {
                this.fire('hidePortfolioPage');
            }
        });
    });
</script>