<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="climate-data-tab.html">
<link rel="import" href="climate-data-page.html">
<link rel="import" href="surveillance-tab.html">
<link rel="import" href="surveillance-page.html">
<link rel="import" href="murex-tab.html">
<link rel="import" href="murex-page.html">

<dom-module id="portfolio-content">
    <style>
        .description {
            text-align: justify;
            line-height: 120%;
            font-size: 18px;
            width: 75%;
            margin: 0 auto;
        }
    </style>
    <template>
        <br>
        <p class="description">
            &nbsp;&nbsp;&nbsp;&nbsp;
            Below are a few links that describe the most prominent projects I have completed during my time at West
            Virginia University. I have chosen to display these particular projects as they have provided a wide
            exposure to many different tools and technologies that I am very fortunate to have learned.
        </p>
        <p class="description">
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Unfortunately, due to the proprietary and classified nature of Government Contracts, I am unable to publish
            any code that I have written during my time as a Software Engineer at IBM. This portfolio, and their
            respective repositories, reflect only the major projects I have completed either as a personal venture or
            for course work.
        </p>
        <p class="description">
            <br>
            All of these repositories can be found at <a href="https://bitbucket.org/cjgatto/profile/repositories" style="color: #67BDC1" target="_blank">bitbucket.org/cjgatto/profile/repositories</a>.
            <br>
        </p>

        <br>
        <table>
            <tr>
                <climate-data-tab id="climate-data-tab"></climate-data-tab>
            </tr>
            <br>
            <tr>
                <surveillance-tab id="surveillance-tab"></surveillance-tab>
            </tr>
            <br>
            <tr>
                <murex-tab id="murex-tab"></murex-tab>
            </tr>
        </table>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'portfolio-content'
        });
    });
</script>