paper-button.custom {
    margin: 10px;
    position: fixed;
}
paper-button.custom:hover {
    background-color: var(--paper-indigo-100);
}
.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
.monospace {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
.invisable-scrollable-content {
    overflow-x:hidden;
    overflow-y:scroll;
}
.invisable-scrollable-content::-webkit-scrollbar {
    width:0px;
}