<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="../bower_components/google-youtube/google-youtube.html">
<link rel="stylesheet" type="text/css" href="shared-styles.css">

<dom-module id="surveillance-page">
    <template>
        <style>
            .surveillance-page-style {
                min-height: 100vh;
                min-width: 1200px !important;
                background-color: #2B3C8E;
                color: #FC1680;
                overflow: hidden;
            }
            paper-button.pink {
                background-color: #FC1680;
                color: #2B3C8E;
            }
            .card-container {
                width: 50%;
                height: auto;
                margin: auto;
                margin-bottom: 60px;
            }
            paper-card {
                width: 100%;
                height: 100%;
                background-color: rgb(232, 240, 255);
                color: black;
                font-family: Arial, Helvetica, sans-serif;
                padding: 20px;
            }
        </style>
        <div id="test" class="surveillance-page-style">
            <paper-button id="back-button" class="custom pink sansserif" raised><b>Back</b></paper-button>
            <h1 class="sansserif" style="text-align: center; margin-bottom: 50px">Multi-threaded Smart Surveillance</h1>
            <div class="card-container">
                <paper-card style="text-align: justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    For our senior design project, Hirsh, a WVU collegue, and myself designed a surveillance system that
                    utilizes Computer Vision and Machine Learning to provide a smart form of property surveillance. The
                    premise behind the project was to be able to re-identify individuals that the security system has
                    no prior data for, and attach an identification number to said individual. Traditionally, facial
                    recognizers are only able to recognize faces they have seen before - or in other words, trained for.
                    To combat this, when our system determines that it is observing an individual it has no information
                    about, a sufficient amount of data is collected and the system is retrained to recognize the newly
                    added person, without sacrificing the ability to recognize already trained individuals.
                    <br><br>
                    Skills Acquired:
                    <ul>
                        <li>Multi-threading</li>
                        <li>Machine Learning</li>
                        <li>Computer Vision</li>
                        <li>Eigenface Recognizers</li>
                        <li>OpenCV</li>
                        <li>CMake</li>
                        <li>C++</li>
                    </ul>
                </paper-card>
            </div>
            <div class="card-container">
                <paper-card>
                    ReID Presentation and Demo Video
                    <br>
                    <google-youtube video-id="rbeVRYFgpXM"
                                    width="853px"
                                    height="480px">
                    </google-youtube>
                </paper-card>
            </div>
            <div class="card-container">
                <paper-card>
                    Finite State Diagram describing our Multi-threaded Application
                    <br>
                    <img src="../resources/reid-class-chart.PNG">
                </paper-card>
            </div>
        </div>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({

            is: 'surveillance-page',

            listeners: {
                'back-button.tap': 'hide'
            },

            hide: function() {
                this.fire('hidePortfolioPage');
            }
        });
    });
</script>