<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/webcomponentsjs/webcomponents-lite.js">

<dom-module id="surveillance-tab">
    <template>
        <paper-tabs no-bar noink style="width: 100%; height: 100%">
            <paper-tab id="surveillance-tab" style="background-image: url(../resources/surveillance-table-pic.PNG); border-radius: 3px; background-repeat: no-repeat;" >
                <h2>&nbsp;</h2>
            </paper-tab>
        </paper-tabs>
    </template>
</dom-module>

<script>
    HTMLImports.whenReady(function() {
        Polymer({
            is: 'surveillance-tab',

            listeners: {
                'surveillance-tab.tap': 'fireShowSurveillancePage',
            },

            fireShowSurveillancePage: function(e) {
                this.fire('showSurveillancePage');
            }
        });
    });
</script>